.logo {
    border-radius: 25px;
    width: 6.9em;
}

.job-segment {
    border-radius: 15px;
    border: 3px solid rgba(128, 128, 128, 0.253);
    background: rgba(255, 255, 255, 0.856);
    padding: 10px;
}

.job-position {
    &__header-container {
        display: flex;

        img {
            width: 100px;
        }
    }
}