.photo-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.photo {
    width: 70%;
    margin: auto;
    border-radius: 50%;
}

.salle-container {
    display: flex;
    justify-content: center;
    padding: 10px;

    img {
        width: 25%;
    }
}